@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playfair+Display:wght@600&family=Roboto:wght@300&display=swap');
body{
    background-color: salmon;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Roboto', sans-serif;
}
form{
    background-color: white;
    padding: 30px;
    border: 1px solid #228b22;
    border-radius: 10px;
}
form h1 {
    font-size: 20px;
}
form .separation{
   width: 100%;
   height: 1px;
   background-color: #228b22;
}
form .body-form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form .body-form .group {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .body-form .left .group input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #228b22;
    border-radius: 5px;
}
form .body-form .left .group i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 8px 8px;
    color: #228b22;
}
form .body-form .right{
    margin-left: 40px;
}
form .body-form .right .group{
    height: 100%;
}
form .body-form .right .group textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #228b22;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}
form .footer-form button{
    margin-top: 10px;
    background-color: #228b22;
    color: white;
    font-size: 15px;
}